@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
/* Los estilos se aplican a todo el documento */
body {
    background-image: 
    linear-gradient(rgba(29, 29, 28, 0.377), rgb(12, 30, 56)),
    url("../assets/images/fondo.jpg");
    background-size: cover;
    
}

.ash-fot{
    display: block;
  margin: 0 auto; 
    border-radius: 70%;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}



header {
  text-align: center;
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  
}



h2 {
    padding: 24px;
    text-align: center;
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    line-height: 10%;
}

.social-icon {
    display: block;
    margin: 0 auto;
  list-style: none;
}


.social-icon li{
padding: 24px;
  display: inline-block;
  margin: 0 50px;

}


.social-icon img{
  width: 48px;
}





section{
    background: linear-gradient(rgba(255, 29, 29, 0.534), rgb(0,0,0));
    backdrop-filter: blur(6px);
    color: rgb(255, 255, 255);
    padding: 24px;
    margin: 32px auto;
    max-width: 900px;
    box-shadow: 0 10px 25px rgb(97, 2, 2);
    
}

footer{
    color: rgb(255, 255, 255);
}
